.tagTitle {
  display: block;
  margin-bottom: 0.1rem;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #ff5252;
}

.title {
  display: block;
  margin-bottom: 1.2rem;
  text-transform: capitalize;
  font-size: 1.2em;
}