@import url('https://fonts.googleapis.com/css?family=Nunito|Open+Sans|Quicksand|Red+Hat+Display|Tajawal|Varela+Round&display=swap');

html {
  background-color: #222222;
  font-family: "Varela Round";
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}